.container{
    /* width: 900px; */
    height: auto;
    margin: auto;
    overflow: hidden;
}
.menu{
    width: 100%;
    height: 80PX;
    background-color:rgb(97, 135, 216);
    overflow: hidden;
   }
   .menu ul{
    margin: 30px;
    padding: 0;
    list-style-type: none;
    float: right;
    text-decoration: none;
   }
   .menu ul li{
    text-align: left;
   }
   .menu ul li a{
    display: block;
    padding: 0.10PX;
    text-decoration: none;
    font-size: 20px;
    color: azure;
    font-weight: bold;
    text-transform: uppercase;
   }
   
   .box1{
    width: 100%;
    height: 600px;
    font-size: 18px;
    background-color: rgb(133, 2, 2);
    font-family: 'Times New Roman', Times, serif; 
    position: relative;

    }
   
    .box1-1{
        width: 380px;
        height: 380px;
        border-radius: 51px;
        background-color: rgb(41, 252, 241);
        position: absolute;
        right: 30px;
        top: 200px;
       
        
    }
   .box1-1 img{
    width: 100%;
    height: 100%;
    border-radius: 51px;
    object-fit: cover;
    margin-top: -100px;
   
   }
    /* menu-bar-p{
        position: relative;
    } */
.box2{
    width: 500px;
    background-color:rgb(206, 24, 136);
    height: 400px;
    position: absolute;
    right:10px;
    left: 10%;
    top: -10px;
    padding: 5px;
    margin-right: 50px;
     }
     .box2 h1{
        color: white;
        background-color: burlywood;
        margin-left: 70px;
     }
     .box2 p{
        margin-left: -50px;
     }
    .box1 h3{
        color: #000;
        text-align: center;
        font-family: 'Times New Roman', Times, serif;
        font-size: 40px;
        margin-left: 50px;
        font-weight: 400;
        line-height: normal; 
        
    }
    .box1 h1{
        color: #000;
        text-align: center;
        font-family: t;
        font-size: 60px;
        font-style: normal;
        font-weight: 400;
        line-height: normal; 
        margin-top: -60px;
        margin-right: 50pxpx;
        
    }
    .box1 h5{
        color: #000;
        font-family: 'Times New Roman', Times, serif;
        font-size: 19px;
        font-style: normal;
        font-weight: 400;
        line-height: normal; 
        text-align: center;
        
    }
    .footer{
        background-color: rgb(97, 135, 216);
        padding: 3px;
        display: flex;
        justify-content: space-evenly;
        color: aliceblue;
    }
    .boxj{
        width: 100%;
        height: 600px;
        font-size: 18px;
        background-color: rgb(255, 255, 255);
        font-family: 'Times New Roman', Times, serif; 
        position: relative;
    
     }
     .boxj-1{
        width: 380px;
        height: 380px;
        border-radius: 51px;
        background-color: rgb(255, 255, 255);
        position: absolute;
        right: 50px;
        top: 200px;
     }
     .boxj-1 img{
         width: 80%;
          height: 90%;
         border-radius: 51px;
         object-fit: cover;
         margin-top: -75px;
         margin-left:65px ;
   
     }
     .boxj-2{
        background-color: rgb(255, 255, 255);
        width: 50%;
        height: 450px;
        position: absolute;
        left: 70px;
        top: 120px;
     }
    .boxj-2 h1{
        text-align: center;
    }
    .boxj-2 p{
        font-size: 27px;
        text-align: center;
        font-family: 'Times New Roman', Times, serif;
    }
 
    .contactt{
        width: 100%;
        height: 500px;
        background-color: rgb(255, 255, 255);
        margin-top:-21px;
       }
     .contactt h1{
        margin-left: 70px;
        margin-top: 120px;
        
     }
     .contactt p{
        margin-left: 50px;
        margin-top: 50px;
     }
      .boxx{
        width: 60%;
        height: 50px;
        margin-left: 50px;
        display: flex;
        
      }
      .boxx1{
        width: 300px;
        height: 200px;
        float: right;
        margin-top:-200px;
        margin-right: 100px;
        display: flex;
      }
      .boxx1 p{
        display: flex;
        margin-top: -30px;
        margin-right: -140px;
      }
      .submit{
        width: 30px;
        height: 30px;
        display: flex;
        float: right;
        margin-right: 310px;
        margin-top: 20px;
       
      }
      .contactus{
        width: 80px;
        height: 25px;
        padding: 10px 10px;
        text-align: center;
        background-color: rgb(97, 135, 216);
        border-radius: 10px;
        float: right;
        margin-right: 130px;
        
       
       
    }
